.root {
  display: flex;
  justify-content: center;
  :global {
    li {
      &.selected {
        a {
          background-color: #f95f1e;
          color: #fff;
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      a {
        color: #f95f1e;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid #f95f1e;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #f95f1e;
          color: #fff;
        }
      }
    }
  }
}
